namespace: production

apigateway:
  image: kevanto/spring-petclinic-api-gateway
  version: 8707235958-8 
  replicaCount: 2

customersservice:
  image: kevanto/spring-petclinic-customers-service
  version: 8659359645-11
  replicaCount: 1

vetsservice:
  image: kevanto/spring-petclinic-vets-service
  version: 8664223306-11
  replicaCount: 1

visitsservice:
  image: kevanto/spring-petclinic-visits-service
  version: 8659359646-21
  replicaCount: 1

database:
  host: petclinic-db.c9mu0cykmyng.eu-west-3.rds.amazonaws.com:3306
  name: petclinicdb
  username: petclinic
  password: redacted
